body {
    background-color:  rgb(73, 73, 73);    
}

h1 {
    text-align: center;
    background-color: rgb(59, 59, 59);
    color: white;
    margin: 20px;
    border: 1px solid black;
}
.btn-group button {
    float: left;
    position: relative;
    background-color: rgb(59, 59, 59);
    border: 1px solid black;
    color: white;
    padding: 10px 30px;
    cursor: pointer;

}

.btn-group button:not(:last-child) {
    border-right: none;
}

.btn-group::after {
    content: "";
    clear: both;
}

.btn-group button:hover {
    background-color: rgb(119, 119, 119);
}

.btn-1 {
    margin: 0;
    position: fixed;
    top: 10.7%;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

button {
    font-family: cursive;
    font-size: 300;
    text-decoration: underline overline double white;
    border-radius: 12px; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#game {
    position: relative;
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-top: 100px;


  }  

#defaultCanvas0 {
    border: 3px solid black;

}
 