a.butt1:link, a.butt1:visited {
    background-color: silver;
    color: slategray;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.butt1:hover, a.butt1:active {
    background-color: red;
}